<div class="header">
    <div class="header__logo">
      <img src="../../../assets/img/logo.png" alt="logo image" class="header__image">
      <span class="header__text">
        Online Store
      </span>
    </div>
    <div class="header__nav header-nav">
        <img src="../../../assets/img/home.svg" alt="home button image" class="header-nav__home-image">
        <span class="header-nav__span">
          <img src="../../../assets/img/Pathnav.svg" alt="navigation element" class="header-nav__path-image">
          <img src="../../../assets/img/Pathnav.svg" alt="navigation element" class="header-nav__path-image">
        </span>
        <span class="header-nav__text header-nav__text--checked">
          eCommerce
        </span>
        <span class="header-nav__span">
          <img src="../../../assets/img/Pathnav.svg" alt="navigation element" class="header-nav__path-image">
          <img src="../../../assets/img/Pathnav.svg" alt="navigation element" class="header-nav__path-image">
        </span>
        <span class="header-nav__text">
          Electronics
        </span>
    </div>
  </div>