<div class="search-bar__result">
    <span class="search-bar__text">
         {{getCounterResult() >= 100 ? '' : resulTitle}}</span>
    <Nav class='search-bar__container-nav'>
        <button routerLink='/cart' class="search-bar__btn-cart button">
            <img src="../../../assets/img/cart4.svg" alt="cart logo" class="search-bar__cart-image" />
        </button>
        <button routerLink='/favorite' class="search-bar__btn-favorite button">
            <img src="../../../assets/img/heartWhite.svg" alt="heart logo" class="search-bar__favorite-image" />
        </button>
    </Nav>
</div>
<form class="search-bar__form">
    <div class="search-bar__container">
        <input class="search-bar__input" type="text" name="search" placeholder="Search" [(ngModel)]="searchValue"
            (keyup)="updateSearch()" />
    </div>
</form>