<button class="pagination__reference-direction button"
(click)="setCurrentPage(productsService.currentPage - 1)"
>
    <img src="../../../assets/img/PathNav2.svg" alt="navigation path" />
</button>
<div class="pagination__pages reference">
    <div class="pagination__container" *ngFor='let in of counter(productsService.totalPages); let i = index'
        [ngClass]="{'active': i + 1 === productsService.currentPage}">
        <button class="button" [ngClass]="{'active': i + 1 === productsService.currentPage}"
        (click)="setCurrentPage(i + 1)"
        >
            {{i + 1}}
        </button>
    </div>
</div>
<button class="pagination__reference-direction button"
(click)="setCurrentPage(productsService.currentPage + 1)"
>
    <img src="../../../assets/img/PathNav1.svg" alt="navigation path" />
</button>